<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suite à une inscription</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color:#504f4b;            
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }

        .invoiceLogo {
            width: 200px; 
        }

        .signature {
            display: flex;
            align-items: center;
        }  

        .signature-p {
            color: #85634d;
            font-weight: 600;
            margin-left: 30px;
        }

        .btn-invoice {
            height: 60px;
            width: 200px;
            border-radius: 5px;
            background:linear-gradient(to bottom, #85634d, #b58869);
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
            border: none;
        }

        .btn-invoice a {
            color: white;
            text-decoration: none;
        }

    </style>
</head>
<body>

    <div class="header">
        <h1>Activez votre compte</h1>
        <p>Bonjour,</p><br>
        <p>Merci pour votre inscription sur le site du Gîte du Rain du Pair !</p>
        <p>Votre inscription est à valider en cliquant sur le lien ci-dessous :</p>  
        <br>
        <button class="btn-invoice"> 
            <p><a href="{{ absolute_url(path('verify_user', {token: token})) }}">Par ici</a></p>
        </button>
        <br>
        <p>Ce lien expirera dans 3 heures.</p>
        <p>Nous espérons avoir le plaisir de vous accueillir bientôt !</p>
        <div class="signature">
            <figure>
                <img src="{{ logo }}" alt="logo" class="invoiceLogo"> 
            </figure>
            <p class="signature-p">Cordialement,<br>
            L'équipe du Gîte Rain du Pair</p>
        </div>
    </div>
    
</body>
</html>