{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe{% endblock %}

{% block body %}
{% include "_partials/_header.html.twig" %}

    <section class="p-6 mt-24 lg:p-12">
        <h1>Demande de réinitialisation de mot de passe</h1>
        {{ form_start(passForm) }}
            {{ form_row(passForm.password) }}
            <button type="submit" class="btn-secondary my-4">Envoyer</button>
        {{ form_end(passForm) }}
    </section>

    {% include "_partials/_footer.html.twig" %}

{% endblock %}