{% extends 'base.html.twig' %}

{% block title %}Demande réinitialisation de mot de passe{% endblock %}

{% block body %}

    {% include "_partials/_header.html.twig" %}

    <section class="p-4 mb-4 lg:mb-6 mt-6 lg:p-12 min-h-[55vh]">

        {{ knp_menu_render(breadcrumb, {'template': 'menu/breadcrumb.html.twig'}) }}

        <h1 class="h3 mb-3 font-weight-normal">Demande réinitialisation de mot de passe</h1>
            {{ form_start(resetPassRequestForm) }}

            {{ form_row(resetPassRequestForm.email) }}
            
            <button type="submit" class="btn-secondary my-4">Envoyer</button>

            {{ form_end(resetPassRequestForm) }}

    </section>

    {% include "_partials/_footer.html.twig" %}

{% endblock %}
