{% extends 'base.html.twig' %}

{% block title %}Une erreur est survenue{% endblock %}

{% block body %}

    {% include "_partials/_header.html.twig" %}

    <div class="p-4 flex flex-col justify-center items-center text-center">
        <h1 class="text-2xl font-bold mb-4">Une erreur inattendue est survenue</h1>
        <p class="text-gray-700">Nous sommes désolés pour le désagrément.</p>
        <p class="text-gray-600 mt-2">Notre équipe technique a été alertée, vous pouvez revenir à l'accueil.</p>

        <a href="{{ path('app_home') }}" class="btn-primary my-4">Retour à l'accueil</a>
    </div>

    {% include "_partials/_footer.html.twig" %}

{% endblock %}
